@import "tailwindcss";

:root {
  --background: #eff6ff;
  --foreground: #171717;
  --mainBg: #eff6ff;
  scroll-behavior: smooth;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #1491ea;

  --breakpoint-xs: 21.875rem;
  --animate-marquee: marquee 40s infinite linear;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}
